.App {
  text-align: center;
  font-family: sans-serif;
  background: #000000;
  height: 1000px;
  color: #1e9630;
  border-top-style: solid;
}
.Info {
  color: #1e9630;
  border-style: double;
  margin-left: 200px;
  margin-right: 200px;
}
label {
  color: red;
  margin: 10px;
}
.select {
  margin-right: 20px;
}
div h1 {
  margin-bottom: 90px;
}
